# Copie a .env. Evite '$', espacios y '#' en las passwords.
MARIADB_ROOT_PASSWORD=MariaDev_2026.Root
MARIADB_PORT=3308
TZ=America/Lima

APP_DB=GNBPE_DATAHUB
APP_USER=datahub
APP_PASSWORD=Etl_Gnbpe_2026.Pw

CONTAINER_MEMORY=2g
MARIADB_BUFFER_POOL=512M
MARIADB_MAX_CONNECTIONS=200
