# Copie a .env. Evite '$', espacios y '#' en las passwords.
MYSQL_ROOT_PASSWORD=MyDev_2026.Root
MYSQL_PORT=3307
TZ=America/Lima

APP_DB=GNBPE_DATAHUB
APP_USER=datahub
APP_PASSWORD=Etl_Gnbpe_2026.Pw

CONTAINER_MEMORY=2g
MYSQL_BUFFER_POOL=512M
MYSQL_MAX_CONNECTIONS=200
